aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
attrs==25.4.0
beautifulsoup4==4.14.2
certifi==2025.10.5
charset-normalizer==3.4.4
dotenv==0.9.9
frozenlist==1.8.0
idna==3.11
lxml==6.0.2
multidict==6.7.0
nodejs-wheel-binaries==22.20.0
propcache==0.4.1
pytelebot==0.0.1
pyTelegramBotAPI==4.29.1
python-dotenv==1.1.1
requests==2.32.5
soupsieve==2.8
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.22.0
